.admin-container {
    display: flex;

    .admin-sidebar {
        height: 100vh;

    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 70px;
            border: 1px solid #ccc;
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .toggle-sidebar {
                font-size: 25px;
                color: #666;
            }

            .setting {
                display: flex;
                gap: 50px;
                margin: 0 40px;
            }
        }

        .admin-main {
            height: calc(100vh - 40px);
            padding: 10px 10px;

        }
    }






}