.admin-container {
    display: flex;

    .admin-sidebar {
        height: 100vh;

    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid rebeccapurple;
            padding: 10px 10px;
        }

        .admin-main {
            height: calc(100vh - 40px);
            padding: 10px 10px;

        }
    }






}