.modal-content {
    .img-space {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #ccc;
        padding: 15px 0;
        min-height: 130px;
        color: #ccc;

        img {
            width: 20%;
        }
    }

    .add-file {
        width: 17%;
        padding: 5px 0;
        background-color: #ccc;
        text-align: center;
        border-radius: 5px;

        &:hover {
            opacity: 0.8;
        }
    }
}


.user-container {

    .user-content,
    .manage-user-title {
        margin: 10px 10px;

        .btn-add-user,
        .users-table {
            margin: 20px 10px;
        }

        button.btn.btn-primary {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}